.flipCard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 0px solid black;
  perspective: 1000px;
  /* 要素の奥行きを指定する */
}

.flipCardInner {
  position: relative;
  /*top right left bottom　z-indexと合わせて使い、要素の配置を相対的に確定させる*/
  /* 使ってないから意味ない？？ */
  /* 解：フリップカードだとこの表裏をabsoluteで重ねないといけないから必要。 */
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* 子要素も3Dとして扱うか。（ひっくり返すなら必須らしい。）*/
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flipCardFront {
  background-color: #bbb;
  color: black;
}

.flipCardBack {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

#questionText,
#answerText {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
